/* SASS: 변수, 함수, 조건문, 반복문 존재 */

// 변수
$main-color: #2a4cb2;
$standard-size: 16px;

.background {
  background-color: $main-color;
  font-size: $standard-size - 2px;
}

.box {
  background-color: $main-color;
  font-size: $standard-size + 2px;
}

// nesting 문법
.main-bg {
  width: 100px;
  h4 {
    font-size: 20px;
  }
  button {
    color: red;
  }
}

// @extend 문법: class 전체 복사
%btn {
  width: 200px;
  height: 200px;
  padding: 20px;
}
.btn-green {
  @extend %btn;
  background-color: green;
}
.btn-red {
  @extend %btn;
  background-color: red;
}
.btn-blue {
  @extend %btn;
  background-color: blue;
}
